/* --------------------------
　　　　ログインページ
-------------------------- */
#login{
  
  margin: auto;
  justify-content: center;
  width: 200px;
  height: 100px;
  font-size: 40px;
  cursor:pointer;
}

.flex {
  text-align: center;
  margin: auto;
}


body{background-color:#FFFFCC;
  width: 1200px;
  margin: 0 auto;
  /* 左右をautoにすることで自動的に中央ぞろえにしてくれる */
}

/* --------------------------
　　　　本体ページ
-------------------------- */
.form{
  /* display: flex; */
  /* /* align-items: center; */
  text-align: center;
  /* justify-content: center; */
  position:relative;
  /* margin: 0 auto; */
  /* transform: translateX(-50%); */
  flex-direction: column;
  margin: 30px auto;
}

.name{
/* padding: をつけ名前入力部分を真ん中に微調整 */
  padding: 0 200px 0 50px;
}

#curry{
  height: 100px;
  width: 100px;
}
#myimg {
  height: 200px;
  width: 200px;
  border: 2px black solid;
}
/* ------------------------------
　　　　　オレンジの吹き出し
------------------------------ */
.msg:nth-child(odd){
  background: #ffa500;
  margin-left: auto;
  width: 40%;
  border-radius: 10px;
  position: relative;
  margin: 0 20px 0 auto;
}

.msg:nth-child(odd):before {
  content: "";
  /* borderで三角形を作る */
  border: 10px solid transparent;
  /* border-left:で右向きの三角形を作る↓ */
  border-left: 30px solid #ffa500;
  /* 配置する */
  position: absolute;
  /* 上から50％ */
  top: 50%;
  /* 四角の右横に吹き出しをつけるため、-24PXと指定 */
  right: -24px;
  /* transform: translateX(-50%); */
}


/* ------------------------------
　　　　ピンクの吹き出し
------------------------------ */

.msg:nth-child(even){
  background: #ffb6c1;
  margin-right: auto;
  width: 40%;
  border-radius: 10px;
  position: relative;
  margin: 0 auto 0 20px;
}

.msg:nth-child(even):before {
  content: "";
  /* borderで三角形を作る */
  border: 10px solid transparent;
  /* border-right:で左向きの三角形を作る↓ */
  border-right: 30px solid #ffb6c1;
  /* 配置する */
  position: absolute;
  /* 上から50％ */
  top: 50%;
  /* 四角の左横に吹き出しをつけるため、-24PXと指定 */
  left: -24px;
  /* transform: translateX(-50%); */
}

/* ------------------------------
　　　　ハートのアイコン
------------------------------ */
.heart{
  margin: 0 80% 0 20%;
  font-size: 40px;
  color:#e4e4e4;
  /* テキストがクリックされないようにする↓ */
  user-select: none;
  /* display:none; */
}

.checkbox{
  margin: 0 35% 0 65%;
}

/* チェックボックスが☑されたとき↓ */
.like [type="checkbox"]:checked ~ .heart{
  animation-name: heart;
  /* 0.6秒に設定↓ */
  animation-duration: .6s;
/* ☑してもハートが赤いままにする↓ */
  animation-fill-mode: forwards;
}

@keyframes heart{
  /* 何もないところからハートを出す↓ */
  0%{
      transform: scale(0);
  }
  /* 少し大きくなる↓ */
  50%{
      transform: scale(1.1);
  }
  /* 100%で元のサイズ（1）に戻る↓ */
  100%{
      transform: scale(1);
      color: red;
  }
}

/* ------------------------------
　　　　ゴミ箱のアイコン
------------------------------ */
.gomibako{
  margin: 0 80% 0 20%;
  font-size: 40px;
  color:#e4e4e4;
  /* テキストがクリックされないようにする↓ */
  user-select: none;
  /* display:none; */
}

.checkbox{
  margin: 0 35% 0 65%;
}

/* チェックボックスが☑されたとき↓ */
.gomi [type="checkbox"]:checked ~ .gomibako{
  animation-name: gomibako;
  /* 0.6秒に設定↓ */
  animation-duration: .6s;
/* ☑してもゴミ箱が灰色のままにする↓ */
  animation-fill-mode: forwards;
}

@keyframes gomibako{
  /* 何もないところからゴミ箱を出す↓ */
  0%{
      transform: scale(0);
  }
  /* 少し大きくなる↓ */
  50%{
      transform: scale(1.1);
  }
  /* 100%で元のサイズ（1）に戻る↓ */
  100%{
      transform: scale(1);
      color: #808080;
  }
}